/* ===================== */
/* LTframework 0.2 alpha */
/* ===================== */

/* Changelog:
	0.3 alpha (Kenniteru):
	- Organización de componentes en el CSS.
	- Cambios menores en algunos nombres de componentes.
	- Incrustación de íconos Material (Google) a través de fuentes.
	- Agregado de CSS aplicable a un panel principal y botones relacionados.

	0.2 alpha (Fermoto5HD): 
	- Agregado elementos para responsive (e.g.: ".encuadre"). 
	- Agregado estilos para los formularios. 
	- Corregidos algunos elementos. 
	- El gradiente tiene menos "biselado", quedando un poco más plano y alineándolo a la nueva tendencia "flat". 

	0.1 (Kenniteru): 
	- Primera versión de LTframework (anteriormente Lanstrap). 
 */

/* FUENTES INCRUSTADAS & ICONOS */
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(../fuentes/MaterialIcons-Regular.eot);	/*Para IE6-8*/
	src: local('Material Icons'),
		local('MaterialIcons-Regular'),
		url(../fuentes/MaterialIcons-Regular.woff2) format('woff2'),
		url(../fuentes/MaterialIcons-Regular.woff) format('woff'),
		url(../fuentes/MaterualIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Tamaño preferido */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;


	/* Soporte para todos los navegadores en WebKit */
	-webkit-font-smoothing: antialiased;
	/* Soporte para Saferi y Chorme */
	text-rendering: optimizeLegibility;
	/* Soporte para Firefox */
	-moz-osx-font-smoothing: grayscale;
	/* Soporte para IE */
	font-feature-settings: 'liga';
}


/* ESTILO GENERAL */
* {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}

/* ENCUADRE GENERAL DEL SITIO */
.encuadre{
	max-width: 960px;
	margin: 0 auto;
}

/* RESPONSIVE */
	/* barra navegacion */
@media all and (max-width: 600px) {
	nav#principal .links {
		overflow-x: scroll;
		width: calc(100% - 100px);
		max-height: 40px;
	}
}

/* BOTONES */

.btn .extragrande {

}

.btn .grande {

}

.btn .medio {

}

.btn .chico {

}

/* NOTIFICACIONES: estilos generales */
#notificacion{
	padding: 10px;
	border-radius: 5px;
	margin: 5px;
}

#notificacion i {
	display: inline-block;
	vertical-align: middle;
}

#notificacion p{
	display: inline-block;
}

/* NOTIFICACIONES: identificacion por color */
#notificacion.info {background-color: rgb(0, 150, 200);}
#notificacion.alerta {}
#notificacion.peligro {}
#notificacion.aviso {}

/* BARRA DE NAVEGACION */
nav#principal {
	background-image: linear-gradient(to bottom, #BFBFBF 0%, #AFAFAF 70%);
	vertical-align: middle;
}

nav#principal #brand {
	cursor: default;
	display: inline-block;
	padding: 10px;
	vertical-align: middle;
}
nav#principal #brand:hover {
	background-color: inherit;
	color: inherit;
	cursor: default;
}

nav#principal .links {
	display: inline-block;
	margin-left: 23;
	vertical-align: middle;
}

nav#principal .links li {
	display: inline-block;
	text-decoration: none;
	padding: 10px;
	cursor: pointer;
}
nav#principal .links li:hover{
	background-color: rgb(20, 20, 20); 
	color: #EEE;
}

nav#top-general {
	background-image: linear-gradient(to bottom, #BFBFBF 0%, #AFAFAF 70%);
	vertical-align: middle;
}

nav#top-general #control-general {
	padding: 10px;
	margin-left: 12%; 
}

/* FORMULARIOS */
form{
	margin: 5px;
	padding: 10px;
	border-radius: 5px;
}
html#login form{
	background-color: rgba(0, 0, 0, 0.5);
}
input[type="text"], 
input[type="email"], 
input[type="password"]{
	border-radius: 5px; 
	border: 1px solid rgb(50, 50, 50);
	padding: 5px;
	margin: 5px 0px;
}
input[type="button"]{
	background: rgb(200, 200, 200);
	padding: 5px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
}


/* TITULO DE UN POST O SECCION */
article h1, section h1 {
	margin: 5px;
	padding: 10px;
	font-size: 30px;
}

section h2, section h2 {
	margin: 5px;
	padding: 10px;
	font-size: 30px;
}
#titular #contenedor {
	border: 1px;
}


/* FONDOS */
	/* inicio de sesion */
html#login{
	background: url('../img/background_login.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-position: fixed;
	height: 100%;
}

html#admin

/* PANEL DE INICIO DE SESION */
form#login {
	text-align: center;
}

/* PANEL DE ADMINISTRACION */

#panel {
	border: 1px solid black;
	width: 25%;
}

#panel .cabecera {
	border: 1px solid black;
	padding-top: 35%;
}

#sitios {}

#sitios .lista li {}

#accesosdirectos {}

#accesosdirectos div {}